<%= form_with(model: @post) do |f| %>
  <div class="field">
    <%= f.label(:title, 'Title:') %>
    <%= f.text_field(:title) %>
  </div>
  <div class="field">
    <%= f.label(:body, 'Body:') %>
    <%= f.text_area(:body, { rows: 10 }) %>
  </div>
  <div class="field">
    <%= label_tag('post[tags]', 'Tags:') %>
    <%= text_field_tag('post[tags]', @tags) %>
  </div>

  <div class="actions">
    <div class="action-item">
      <%= f.submit(button, { class: 'button primary' }) %>
    </div>
    <div class="action-item">
      <%= link_to('Cancel', :back, class: 'secondary') %>
    </div>
  </div>
<% end %>
