<div class="post-item">
  <div class="title">
    <h3><%= link_to(post.title, post) %></h3>
  </div>
  <div class="body">
    <%= truncate(post.body, length: 200, separator: ' ') { link_to('Read more', post) } %>
  </div>
  <div class="tags">
    Tags: <%= tags_for(post: post) %>
  </div>
  <div class="actions">
    <div class="action-item">
      <%= link_to('View', post, class: 'secondary') %>
    </div>
  </div>
  <div class="info">
    <div class="author">
      Author: <%= post.user.name %>
    </div>
    <div class="created">
      Created: <%= post.created_at %>
    </div>
  </div>
</div>
