<div class="menu">
  <div class="menu-item">
    <%= link_to('Blog', root_path) %>
  </div>
  
  <div class="menu-item">
    <%= link_to('Stats', stats_path) %>
  </div>

  <% # login button %>
  <% unless logged_in? %>
    <div class="menu-item">
      <%= link_to('Login', login_path) %>
    </div>
    <div class="menu-item">
      <%= link_to('Sign up', signup_path) %>
    </div>
  <% else %>
    <div class="menu-item">
      <%= link_to('Logout', logout_path) %>
    </div>
  <% end %>

  <div class="menu-item user">
    <% if logged_in? %>
      <div class="user"><%= current_user.name %></div>
    <% end %>
  </div>
</div>
